    <nav class="bg-blue-500 w-100 h-[80px] border-b-2 border-slate-300">
        <div id="navbar-dropdown" class="hidden md:flex flex-col md:flex-row items-center justify-center h-full w-full space-y-4 md:space-y-0 md:space-x-14 text-lg font-medium pb-5 md:pb-0">
            <a class="text-white" [routerLink]="['/history']">Première</a>
            <!--<div class="flex items-center">
                <img src="assets/images/logo.png" class="h-8 mr-3" alt="FFBF Logo"/>-->
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">B-Analysis</span>
            <!--</div>-->
            <a class="text-white" [routerLink]="['/players']">Deuxième</a>
        </div>
    </nav>
